# Node
node_modules/
backend/node_modules/
.env
backend/.env
database.json
backend/database.json
*firebase-service-account*.json

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.mode
doc/api/
.pub/

# IDE / Operating System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Firebase
.firebase/


